.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cell {
  height: 50px;
  width: 50px;
  margin: 1px;
  text-transform: none;
}

.matched {
  animation: match 2s infinite;
}

@keyframes match {
  0%, 100% {
      background-color: transparent
  }
  50% {
      background-color: rgba(0, 186, 0, 0.5)
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
